html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;}
    article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

    body {
        line-height: 1;
    }

    ol, ul {
        list-style: none;
    }

    blockquote, q {
        quotes: none;
    }

        blockquote:before, blockquote:after, q:before, q:after {
            content: '';
            content: none;
        }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    body {
        -webkit-text-size-adjust: none;
    }
    mark {
        background-color: transparent;
        color: inherit;
    }

    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
  font-family: 62.5%;
  width: 100%;
}

body {
  background-image: url("../img/image-1.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.main-page {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  width: 100%;
}

header h1 {
  color: white;
  display: flex;
  flex-wrap: flex;
  margin: 0 12%;
  width: 89%;
  padding-top: 99px;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .6rem;
  font-size: 44px;
}

header .top {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-top-color: initial;
  padding: 3rem;
  width: 88%;
  margin: 22% auto 6% auto;
  overflow: hidden;
  max-height: 48rem;
}

header p {
  text-transform: uppercase;
  text-align: center;
  margin: 6%;
  width: 87%;
  font-size: 1.3rem;
  line-height: 3rem;
  letter-spacing: .4rem;
  color: white;
}

header {
  justify-content: center;
}

header .nav {
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: white;
  width: 98%;
}

.components .component {
  padding: 26px;
  margin-bottom: 17px;
  border-bottom: 3px solid black;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: none;
  flex-direction: column;
  width: 82%;
  margin: 0 auto;
  height: 498px;
  color: white;
}

.components {
  width: 98%;
  margin: auto;
  border-top: 1px dotted black;
  align-content: center;
}

.components .component .title {
  font-family: 'Titillium Web';
  font-size: 27px;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: .6rem;
  line-height: 2.7rem;
  text-align: center;
}

header .nav:hover {
  background: rgb(36, 30, 30);
}

header .nav .tab .side {
  color: gray;
  font-size: 30px;
  width: 34%;
  margin: 0 35%;
  padding: 2%;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid white;
}

.components .component p {
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: .4rem;
  text-transform: uppercase;
  line-height: 2.2rem;
  width: 98%;
  margin: 6%;

}

@media (min-width: 500px) {
  header {
    margin: auto;
    width: 50%;
  }
  p {
    margin: 0 auto 6%;
    padding-top: 3%;
    text-align: center;
    text-transform: uppercase;
    line-height: 3rem;
    letter-spacing: .2rem;
    font-size: 1.3rem;
    width: 58%;
  }

  header .top {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-top-color: initial;
    padding: 3rem 2rem;
    width: 58%;
    margin: 11% 21% 0 21%;
    overflow: hidden;
    max-height: 48rem;
  }

  h1 {
    display: flex;
    flex-wrap: flex;
    font-size: 54px;
    align-content: center;
    justify-content: center;
    line-height: 3.76rem;
    color: white;
    padding-top: 6%;
    border: 0;
    margin: 5% auto;
    text-transform: uppercase;
  }

  header .nav .tab .menu {
    font-size: 31px;
    width: 24%;
    margin: 0;
    letter-spacing: .3rem;
    line-height: 3.7rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  header .tab {
    width: 37%;
    flex-direction: row;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 5% 0;
    margin: auto;
  }

  header .menu:hover {
    color: gray;
    text-decoration: none;
  }

  .components {
    width: 98%;
    margin: auto;
    border-top: 1px dotted black;
    align-content: center;
  }

  .components .component {
    padding: 26px;
    margin-bottom: 17px;
    border-bottom: 3px solid black;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: none;
    flex-direction: column;
    width: 82%;
    margin: 0 auto;
    height: 498px;
    color: white;
  }

  .components .component .title {
    font-size: 27px;
    letter-spacing: .6rem;
    line-height: 2.7rem;

  }

  .components .component p {
    font-size: 1.3rem;
    letter-spacing: .4rem;
    line-height: 2.2rem;
    width: 98%;
    margin: 6%;
  }
}
